h1 {
  font-size: 70px;
  color: #999;
  font-family: Courier;
  margin-bottom: 100px;

}
.row {
}
.container {
  position: relative;
  text-align: center;
  height: 300px;
  width: 300px;
  float: left;
}
.petal {
  position: absolute;
  top: 150px;
  left: 150px;
  transform-origin: top center;

  display: inline-block;
  background: pink;
  border-radius: 50%;
  border: solid 1px #666;
  opacity: 0.8;
}
.shell .petal {
  transform-origin: inherit;
}
.paper .petal {
  border-radius: 0;
}
